html{
    font-size: 18px;
}

body{
    margin: 0;
    color: white;
    background-image: url('https://goldwallpapers.com/uploads/posts/black-bubbles-wallpaper/black_bubbles_wallpaper_026.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid moccasin 3px;
    box-sizing: border-box;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border: solid red 3px;
    box-sizing: border-box;
}

.form-container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid white 3px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.question{
    font-size: 2rem;
    border: solid yellow 3px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding: 0;
}

.your-name{
    text-align: center;
    margin: auto;
}

.submit{
    text-align: center;
    margin: auto;
}


li{
    list-style-type: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

.log-out{
  justify-content: flex-end;
}

.greeting-container{
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.log-out{
    box-sizing: border-box;
}

.hello{
    box-sizing: border-box;
    font-size: 3rem;
}

.date{
    box-sizing: border-box;
    font-size: 2rem;
    margin: 0;
}

.time{
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
}

.latest-news-container{
    display: block;
    box-sizing: border-box;
}

.news-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;

}

.news-image{
    width: 200px;
    height: 150px;
  
}

.news-paragragh{
    height: 150px;
    overflow-y: scroll;
    padding-left: 5px;
}