html{
    font-size: 18px;
}

body{
 margin: 0;
 color: white;
 background-image: url('https://goldwallpapers.com/uploads/posts/black-bubbles-wallpaper/black_bubbles_wallpaper_026.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

li{
    list-style-type: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

.log-out{
  justify-content: flex-end;
}

.greeting-container{
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.log-out{
    box-sizing: border-box;
}

.hello{
    box-sizing: border-box;
    font-size: 3rem;
}

.date{
    box-sizing: border-box;
    font-size: 2rem;
    margin: 0;
}

.time{
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
}
.latest-news-container{
    display: block;
    box-sizing: border-box;
}

.news-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;

}

.news-image{
    width: 200px;
    height: 150px;
  
}

.news-paragragh{
    height: 150px;
    overflow-y: scroll;
    padding-left: 5px;
}